.left-container button {
  width: 100%;
  text-align: left;
}

.left-container {
  width: 17%;
}

.btn {
  height: 50px;
  border: none;
  padding-left: 30px;
  font-family: Roboto;
  background-color: #ffffff;
}

.btn:hover {
  background-color: #f1f5f9;
}
